

//Listado de locales
.mis-locales {
	//Outline compartido con pedidos. Ver _pedidos.scss
	.header-row {
		align-items: center;
		padding-bottom: 30px; 
		.btn {margin-left: auto; }
	}
	.local { 
		.data-main .col p:not(:last-child) {
			margin-bottom: 0; 
		}
		
	
	}
}


//Local individual
//Outline compartido con pedidos. Ver _pedidos.scss
.mi-local {
	.btn-set {
		.btn:not(:last-child) {
			margin-right: 15px;
		}
	}
}